::selection {
    color: white;
    background: black;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
}

.notoSerif {
    font-family: 'Noto Serif TC', serif;
}

/*---------------- background image ----------------*/
.home_bg {
    height: 100vh;
    background-image: url(../image/00_home/bg_00_home.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.student_bg {
    height: 100vh;
    background-image: url(../image/01_student/bg_01_student.JPG);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*---------------- background color ----------------*/
.bg_light {
    background-color: #FBFBFB;
}

.bg_dark {
    background-color: #333333;
}

.bg_red {
    background-color: #D99694;
}

.bg_yellow {
    background-color: #F8DE75;
}

.bg_lightYellow {
    background-color: #F9CB0A;
}

.bg_lightYellow:hover {
    background-color: #F8DE75;
}

/*---------------- text color ----------------*/
/* .text_normal {
    color: #333333;
}

.text_unselected {
    color: #888888;
}

.text_unselected:hover {
    color: #F9CB0A;
} */

.text_light {
    color: #FBFBFB;
}

.text_light:hover {
    color: #F8DE75;
}


/*---------------- card style ----------------*/
.card_bg {
    background-color: #FBFBFB;
    border-radius: 10%;
}

.card_ic_pos {
    height: 80px;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}