::selection {
    color: white;
    background: black;
}

body {
    overflow-x: hidden;
    font-family: 'Noto Sans TC', sans-serif;
}

.notoSerif {
    font-family: 'Noto Serif TC', serif;
}

/*---------------- main background ----------------*/
.hw_100 {
    height: 100vh;
    width: 100vw;
}

.bg_lattice {
    /* background-image: url(../image/00_home/header_bg.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    /* overflow-y: auto; */
    background-color: #FEFEFE;
}

.nav_ctrl {
    position: relative;
    z-index: 99;
}

.bg_ctrl {
    height: 50%;
    width: 100%;
    position: relative;
}

.wheel_ctrl {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wheel_svg {
    height: 280px;
    width: 280px;
}

@media screen and (min-width:576px) {
    .bg_ctrl {
        height: 60%;
    }

    .wheel_ctrl {
        left: 30%;
    }

    .wheel_svg {
        height: 320px;
        width: 320px;
    }
}

@media screen and (min-width:768px) {
    .bg_ctrl {
        height: 70%;
    }

    .wheel_svg {
        height: 400px;
        width: 400px;
    }
}

@media screen and (min-width:992px) {
    
}

/*---------------- navigation ----------------*/
.nav_top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

nav .text_dark:visited {
    color: #333333;
}

nav .text_dark:hover {
    color: #FA760A;
}

.nav_list_bg {
    background-color: rgba(255, 251, 243, 0.8);
}

@media screen and (min-width:768px) {
    .nav_list_bg {
        background-color: rgba(255, 251, 243, 0);
    }

    .w_150 {
        width: 150px;
    }

    nav .text_dark:hover {
        color: #333333;
    }

    .nav_btn {
        background-color: #FFF9E1;
        border: #333333 solid 1px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .nav_btn:hover {
        background-color: #F8DE76;
        /* border: 0px; */
        box-shadow: 0px 0px;
        transition: all 0.4s;
    }
}

/*---------------- scrollDown button ----------------*/
.down_btn i {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #FA760A;
    transform: translate(-50%, -100%);
}

.down_btn i:hover {
    opacity: 0.5;
    transition: opacity 0.4s;
}

/*---------------- goTop button ----------------*/
.top_btn {
    position: fixed;
    width: 2rem;
    height: 2rem;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;
    background-color: #F8DE76;
    border: 0;
    border-radius: 50%;
}

/*---------------- card ----------------*/
.card .text_orange:hover {
    color: #ffa963;
}

/*---------------- section ----------------*/
.section_btn {
    background-color: #FA760A;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section_btn:hover {
    box-shadow: 0px 0px;
}

section .text_light:hover {
    color: #FFFEF9;
}

/*---------------- footer ----------------*/
footer li .text_light:visited {
    color: #FFFEF9;
}

footer li .text_light:hover {
    color: #F8DE76;
}

/*---------------- background color ----------------*/
.bg_light {
    background-color: #FFFEF9;
}

.bg_dark {
    background-color: #333333;
}

.bg_red {
    background-color: #D99694;
}

.bg_lightYellow {
    background-color: #FFF38A;
}

.bg_yellow {
    background-color: #F8DE76;
}

.bg_lighter {
    background-color: #FFFBF3;
}

.bg_orange {
    background-color: #FA760A;
}

/*---------------- text color ----------------*/
.text_light {
    color: #FFFEF9;
}

.text_dark {
    color: #333333;
}

.text_orange {
    color: #FA760A;
}

/*---------------- other styles ----------------*/
.round_20 {
    border-radius: 20px;
}